@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800,900");
* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  position: relative; }

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2.5rem; }

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

header {
  background-image: url("../images/header_devstudio_med.jpeg");
  height: 80vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 100%;
  background-repeat: no-repeat; }
  header .navbar-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    height: auto;
    position: fixed;
    width: 100vw;
    -ms-flex-align: center;
        align-items: center;
    z-index: 1; }
    header .navbar-container .nav-elem {
      height: 3.5rem;
      background-color: #203372;
      width: 10vw;
      box-shadow: 0px 0px 10px 0px #203372; }
    header .navbar-container .logo-container {
      width: auto;
      position: relative; }
      header .navbar-container .logo-container a {
        display: block;
        width: 100%;
        height: 3.5rem;
        position: absolute;
        top: calc(50% - 1.75rem); }
      header .navbar-container .logo-container img {
        width: 100%;
        height: auto; }
    header .navbar-container nav {
      height: 3.5rem;
      font-family: "Moontserrat", sans-serif;
      font-weight: 700;
      letter-spacing: 2.5px;
      width: 80vw;
      color: #fff;
      background-color: #203372;
      box-shadow: 0px 0px 10px 0px #203372; }
      header .navbar-container nav ul {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
            justify-content: center;
        -ms-flex-align: center;
            align-items: center;
        list-style-type: none;
        height: auto;
        text-transform: uppercase;
        margin: 0;
        padding: 0; }
        header .navbar-container nav ul li {
          margin-right: 60px;
          line-height: 3.5rem; }
          header .navbar-container nav ul li a {
            text-decoration: none;
            color: white;
            font-size: 1rem; }

.sect-about-me {
  position: relative;
  padding: 4rem 0 8rem 0; }
  .sect-about-me h3 {
    border-bottom: 3px solid #203372;
    line-height: 3.5rem;
    display: inline-block;
    margin: 0; }
  .sect-about-me .title-about-me {
    background-color: #203372;
    display: inline-block;
    padding: 2rem 30px;
    color: white;
    font-size: 2rem;
    position: absolute;
    top: -4.5rem; }

.sect-Technologies {
  position: relative;
  padding: 4rem 0 8rem 0;
  background-color: #ececec; }
  .sect-Technologies h3 {
    border-bottom: 3px solid #203372;
    line-height: 3.5rem;
    display: inline-block;
    margin: 0;
    margin-bottom: 3rem; }
  .sect-Technologies .technologies-background-area {
    background-image: url("../images/techsection_code.jpg");
    padding: 6rem;
    position: relative;
    z-index: 0; }
  .sect-Technologies .technologies-layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(32, 51, 114, 0.692);
    z-index: -1; }
  .sect-Technologies .title-technologies {
    background-color: #203372;
    display: inline-block;
    padding: 2rem 30px;
    color: white;
    font-size: 2rem;
    position: absolute;
    top: -4.5rem; }
  .sect-Technologies [class*="ech-"] {
    width: 7.5rem; }
  .sect-Technologies .line {
    background-color: white;
    height: 0.9rem;
    margin: 1.3rem 0 3rem 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
        align-items: flex-end; }
    .sect-Technologies .line .square-arrow {
      height: 1.7rem;
      width: 1.7rem;
      background-color: white;
      transform: matrix(0.99, 0.42, -0.99, 0.42, 0, 0.8);
      box-shadow: 0px 0px 10px 0px white; }
    .sect-Technologies .line::before {
      content: "";
      background-color: white;
      height: 0.9rem;
      width: 100%;
      position: absolute;
      box-shadow: 0px 0px 10px 0px white; }

.sect-projects {
  position: relative;
  padding: 4rem 0 8rem 0; }
  .sect-projects .title-projects {
    background-color: #203372;
    display: inline-block;
    padding: 2rem 30px;
    color: white;
    font-size: 2rem;
    position: absolute;
    top: -4.5rem; }
  .sect-projects h3 {
    border-bottom: 3px solid #203372;
    line-height: 3.5rem;
    display: inline-block;
    margin: 0;
    margin-bottom: 3rem; }
  .sect-projects h5 {
    margin: 0 0 0.5rem 0; }
  .sect-projects .project-container {
    max-width: 88%;
    margin: 0 auto 0 0;
    display: -ms-flexbox;
    display: flex; }
    .sect-projects .project-container .left-side {
      display: -ms-flexbox;
      display: flex;
      background-color: #979db1;
      padding: 5rem 0 5rem 6rem;
      color: white;
      box-shadow: 0px 0px 10px 0px #979db1; }
      .sect-projects .project-container .left-side .list-left-side {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
            flex-direction: column; }
        .sect-projects .project-container .left-side .list-left-side .cell {
          margin-bottom: 2rem;
          padding: 2rem;
          position: relative;
          transition-duration: .5s; }
          .sect-projects .project-container .left-side .list-left-side .cell:hover {
            background-color: #030e37;
            box-shadow: 0px 0px 10px 0px #030e37; }
          .sect-projects .project-container .left-side .list-left-side .cell:hover .arrow {
            background-color: #030e37;
            box-shadow: 0px 0px 10px 0px #030e37; }
          .sect-projects .project-container .left-side .list-left-side .cell .arrow {
            position: absolute;
            background-color: #979db1;
            transition-duration: .5s;
            height: 2rem;
            width: 2rem;
            top: calc(50% - 1rem);
            right: 0;
            transform: matrix(0.71, 0.71, -0.71, 0.71, 16, 0); }
          .sect-projects .project-container .left-side .list-left-side .cell h3 {
            margin: 0;
            border: 0; }
          .sect-projects .project-container .left-side .list-left-side .cell i {
            font-size: 1.5rem;
            margin-right: 10px; }
          .sect-projects .project-container .left-side .list-left-side .cell .tech-used {
            display: -ms-flexbox;
            display: flex; }
            .sect-projects .project-container .left-side .list-left-side .cell .tech-used .cell-icon {
              width: 2.5rem; }
    .sect-projects .project-container .right-side {
      width: 100%; }
      .sect-projects .project-container .right-side .photo-cell .project-1 {
        background-image: url("../images/design_lab.jpg");
        width: 100%; }

/*# sourceMappingURL=style.prefixed.css.map */