@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800,900");
* {
  box-sizing: border-box; }

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  position: relative; }

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 2.5rem;
  width: 100%; }

.row {
  display: flex;
  justify-content: space-around; }

#btnCircleUp-js {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  bottom: 1rem;
  cursor: pointer;
  height: 5rem;
  position: fixed;
  right: 1rem;
  width: 5rem;
  z-index: 4;
  border-radius: 50%; }
  #btnCircleUp-js i {
    color: #203372;
    font-size: 4rem;
    opacity: 0.7; }

header {
  background-attachment: fixed;
  background-image: url("../images/header_devstudio_med.jpeg");
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh; }
  header .navbar-container {
    align-items: center;
    display: flex;
    height: auto;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    z-index: 1; }
    header .navbar-container .nav-elem {
      background-color: #203372;
      box-shadow: 0px 0px 10px 0px #203372;
      height: 3.5rem;
      width: 10vw; }
    header .navbar-container .logo-container {
      position: relative;
      width: auto; }
      header .navbar-container .logo-container a {
        display: block;
        height: 3.5rem;
        position: absolute;
        top: calc(50% - 1.75rem);
        width: 100%; }
      header .navbar-container .logo-container img {
        height: auto;
        width: 100%; }
    header .navbar-container nav {
      background-color: #203372;
      box-shadow: 0px 0px 10px 0px #203372;
      color: #fff;
      font-family: "Moontserrat", sans-serif;
      font-weight: 700;
      height: 3.5rem;
      letter-spacing: 2.5px;
      width: 80vw; }
      header .navbar-container nav ul {
        align-items: center;
        display: flex;
        height: auto;
        justify-content: center;
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-transform: uppercase; }
        header .navbar-container nav ul li {
          line-height: 3.5rem;
          margin-right: 60px; }
          header .navbar-container nav ul li a {
            color: white;
            font-size: 1rem;
            text-decoration: none; }

.sect-about-me {
  padding: 4rem 0 8rem 0;
  position: relative; }
  .sect-about-me .header-of-about-me {
    border-bottom: 3px solid #203372;
    display: inline-block;
    line-height: 3.5rem;
    margin: 0; }
  .sect-about-me .title-about-me {
    background-color: #203372;
    color: white;
    display: inline-block;
    font-size: 2rem;
    padding: 2rem 30px;
    position: absolute;
    top: -4.5rem; }

.sect-technologies {
  padding: 4rem 0 8rem 0;
  position: relative;
  background-color: #ececec; }
  .sect-technologies .header-of-technologies {
    border-bottom: 3px solid #203372;
    display: inline-block;
    line-height: 3.5rem;
    margin: 0;
    margin-bottom: 3rem; }
  .sect-technologies .technologies-background-area {
    background-image: url("../images/techsection_code.jpg");
    padding: 6rem;
    position: relative;
    z-index: 0; }
  .sect-technologies .technologies-layer {
    background-color: rgba(32, 51, 114, 0.692);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1; }
  .sect-technologies .title-technologies {
    background-color: #203372;
    color: white;
    display: inline-block;
    font-size: 2rem;
    padding: 2rem 30px;
    position: absolute;
    top: -4.5rem; }
  .sect-technologies [class*="ech-"] {
    width: 7.5rem; }
  .sect-technologies .line {
    align-items: flex-end;
    background-color: white;
    display: flex;
    height: 0.9rem;
    margin: 1.3rem 0 3rem 0; }
    .sect-technologies .line .square-arrow {
      background-color: white;
      box-shadow: 0px 0px 10px 0px white;
      height: 1.7rem;
      transform: matrix(0.99, 0.42, -0.99, 0.42, 0, 0.8);
      width: 1.7rem; }
    .sect-technologies .line::before {
      background-color: white;
      box-shadow: 0px 0px 10px 0px white;
      content: "";
      height: 0.9rem;
      position: absolute;
      width: 100%; }

.sect-projects {
  padding: 4rem 0 8rem 0;
  position: relative; }
  .sect-projects .title-projects {
    background-color: #203372;
    color: white;
    display: inline-block;
    font-size: 2rem;
    padding: 2rem 30px;
    position: absolute;
    top: -4.5rem; }
  .sect-projects .header-of-projects {
    border-bottom: 3px solid #203372;
    display: inline-block;
    line-height: 3.5rem;
    margin: 0;
    margin-bottom: 3rem; }
  .sect-projects .header-used-technologies {
    margin: 0 0 0.5rem 0; }
  .sect-projects .project-container {
    display: flex;
    margin: 0 auto 0 0; }
    .sect-projects .project-container .left-side {
      background-color: #979db1;
      box-shadow: 0px 0px 10px 0px #979db1;
      color: white;
      display: flex;
      padding: 5rem 0 5rem 6rem;
      width: 35%; }
      .sect-projects .project-container .left-side .list-left-side {
        display: flex;
        flex-direction: column; }
        .sect-projects .project-container .left-side .list-left-side .cell {
          margin-bottom: 5rem;
          padding: 2rem;
          position: relative;
          transition-duration: .5s; }
          .sect-projects .project-container .left-side .list-left-side .cell .cell-paragraph {
            min-height: 60px; }
          .sect-projects .project-container .left-side .list-left-side .cell:hover {
            background-color: #030e37;
            box-shadow: 0px 0px 10px 0px #030e37; }
          .sect-projects .project-container .left-side .list-left-side .cell:hover .arrow {
            background-color: #030e37;
            box-shadow: 0px 0px 10px 0px #030e37; }
          .sect-projects .project-container .left-side .list-left-side .cell:hover .project-min .photo-cell {
            background-color: #030e37;
            box-shadow: 0px 0px 10px 0px #030e37; }
          .sect-projects .project-container .left-side .list-left-side .cell:hover .project-min [class*="rea-"] .photo-layer {
            opacity: 1; }
          .sect-projects .project-container .left-side .list-left-side .cell:hover .project-min [class*="rea-"] .layer-icon {
            opacity: 1; }
          .sect-projects .project-container .left-side .list-left-side .cell .project-min {
            position: absolute;
            right: -65rem;
            top: calc(50% - 9rem); }
            .sect-projects .project-container .left-side .list-left-side .cell .project-min .photo-cell {
              background-color: #979db1;
              box-shadow: 0px 0px 10px 0px #979db1;
              height: 18rem;
              padding: 1rem;
              transition-duration: 0.5s;
              width: 60rem; }
              .sect-projects .project-container .left-side .list-left-side .cell .project-min .photo-cell [class*="rea-"] {
                background-position: center;
                background-size: cover;
                height: 100%;
                position: relative;
                width: 100%; }
              .sect-projects .project-container .left-side .list-left-side .cell .project-min .photo-cell .area-photo-1 {
                background-image: url("../images/design_lab.jpg"); }
              .sect-projects .project-container .left-side .list-left-side .cell .project-min .photo-cell .area-photo-2 {
                background-image: url("../images/picture_perfect.jpg"); }
              .sect-projects .project-container .left-side .list-left-side .cell .project-min .photo-cell .area-photo-3 {
                background-image: url("../images/your_life.jpg"); }
              .sect-projects .project-container .left-side .list-left-side .cell .project-min .photo-cell .photo-layer {
                background-color: rgba(32, 51, 114, 0.692);
                bottom: 0;
                left: 0;
                opacity: 0;
                position: absolute;
                right: 0;
                top: 0;
                transition-duration: 0.5s; }
              .sect-projects .project-container .left-side .list-left-side .cell .project-min .photo-cell .layer-icon {
                color: #f2f2ff;
                font-size: 4rem;
                opacity: 0;
                position: absolute;
                top: calc(50% - 2rem);
                transition-duration: 0.5s; }
              .sect-projects .project-container .left-side .list-left-side .cell .project-min .photo-cell [class*="code"] {
                left: 22rem; }
              .sect-projects .project-container .left-side .list-left-side .cell .project-min .photo-cell [class*="sear"] {
                right: 22rem; }
          .sect-projects .project-container .left-side .list-left-side .cell .arrow {
            background-color: #979db1;
            box-shadow: 0px 0px 10px 0px #979db1;
            height: 2rem;
            position: absolute;
            right: 0;
            top: calc(50% - 1rem);
            transform: matrix(0.71, 0.71, -0.71, 0.71, 16, 0);
            transition-duration: .5s;
            width: 2rem; }
          .sect-projects .project-container .left-side .list-left-side .cell .header-of-cell-title {
            border: 0;
            margin: 0;
            position: relative; }
          .sect-projects .project-container .left-side .list-left-side .cell .right-arrow {
            font-size: 1.5rem;
            left: -1rem;
            margin-right: 10px;
            position: absolute; }
          .sect-projects .project-container .left-side .list-left-side .cell .tech-used {
            display: flex; }
            .sect-projects .project-container .left-side .list-left-side .cell .tech-used .cell-icon {
              width: 2.5rem; }
    .sect-projects .project-container .right-side {
      background-image: url("../images/dev_office.jpg");
      background-position: center;
      background-size: cover;
      background-attachment: fixed;
      width: 100%; }

/*# sourceMappingURL=style.css.map */
