@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800,900");
* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  position: relative; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

header {
  background-image: url("../images/header_devstudio_med.jpeg");
  height: 80vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 100%;
  background-repeat: no-repeat; }
  header .navbar-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    height: auto;
    position: fixed;
    width: 100vw;
    -ms-flex-align: center;
        align-items: center;
    z-index: 1; }
    header .navbar-container .nav-elem {
      height: 3.5rem;
      background-color: #203372;
      width: 10vw;
      box-shadow: 0px 0px 10px 0px #203372; }
    header .navbar-container .logo-container {
      width: auto;
      position: relative; }
      header .navbar-container .logo-container a {
        display: block;
        width: 100%;
        height: 3.5rem;
        position: absolute;
        top: calc(50% - 1.75rem); }
      header .navbar-container .logo-container img {
        width: 100%;
        height: auto; }
    header .navbar-container nav {
      height: 3.5rem;
      font-family: "Moontserrat", sans-serif;
      font-weight: 700;
      letter-spacing: 2.5px;
      width: 80vw;
      color: #fff;
      background-color: #203372;
      box-shadow: 0px 0px 10px 0px #203372; }
      header .navbar-container nav ul {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
            justify-content: center;
        -ms-flex-align: center;
            align-items: center;
        list-style-type: none;
        height: auto;
        text-transform: uppercase;
        margin: 0;
        padding: 0; }
        header .navbar-container nav ul li {
          margin-right: 60px;
          line-height: 3.5rem; }
          header .navbar-container nav ul li a {
            text-decoration: none;
            color: white;
            font-size: 1rem; }

.sect-about-me {
  position: relative;
  padding: 7rem 0 10rem 0; }
  .sect-about-me h3 {
    border-bottom: 3px solid #203372;
    line-height: 3.5rem;
    display: inline-block; }
  .sect-about-me .title-about-me {
    background-color: #203372;
    display: inline-block;
    padding: 3.5rem 20px;
    color: white;
    font-size: 2rem;
    position: absolute;
    top: -6rem; }

.sect-Technologies {
  position: relative;
  padding: 7rem 0 10rem 0;
  background-color: #e4e4e4; }
  .sect-Technologies h3 {
    border-bottom: 3px solid #203372;
    line-height: 3.5rem;
    display: inline-block; }
  .sect-Technologies .title-technologies {
    background-color: #203372;
    display: inline-block;
    padding: 3.5rem 20px;
    color: white;
    font-size: 2rem;
    position: absolute;
    top: -6rem; }
  .sect-Technologies [class*="ech-"] {
    width: 9rem; }
  .sect-Technologies .line {
    background-color: #203372;
    height: 0.9rem;
    margin: 1.3rem 0 3rem 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
        align-items: flex-end; }
    .sect-Technologies .line .square-arrow {
      height: 1.7rem;
      width: 1.7rem;
      background-color: #203372;
      transform: matrix(0.99, 0.42, -0.99, 0.42, 0, 0);
      box-shadow: 0px 0px 10px 0px #203372; }
    .sect-Technologies .line::before {
      content: "";
      background-color: #203372;
      height: 0.9rem;
      width: 100%;
      position: absolute;
      box-shadow: 0px 0px 10px 0px #203372; }

/*# sourceMappingURL=style.prefixed.css.map */