@import url('https://fonts.googleapis.com/css?family=Exo+2:400,500,700,800,900');
* {
    box-sizing: border-box;
}

body {
    font-family: "Exo 2", sans-serif;
    margin: 0;
    position: relative;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 2.5rem;
    width: 100%;
}

.row {
    display: flex;
    justify-content: space-around;
}

//          SASS
//responsive navbar
$colorOfRespNav: rgba(16, 31, 85, 0.49);
//navbar
$colorOfNav: rgb(16, 31, 85);
$colorFontNav: rgb(255,
255,
255);
$navBoxShadow: 0px 0px 10px 0px $colorOfNav;
$navSize: 3.5rem;
$navFontSize: 1rem;
$navFontWeight: 700;
// button up
$buttonUpBackgroundColor: rgba(255,
255,
255,
0);
$buttonUpColor: rgb(65, 55, 207);
// technologies 
$techHeightLine: 0.9rem;
$techLineColor: rgb(255,
255,
255);
$techBoxShadow: 0px 0px 10px 0px $techLineColor;
$techBackgroundColor: rgb(236,
236,
236);
$techColorLayer: rgba(32,
51,
114,
0.692);
//projects
$projectsMainColor: rgb(31,
55,
134);
$projectsHoverColor: rgb(249,
250,
253);
$projectsLeftSideFontColor: rgb(255,
255,
255);
$projectsHoverFontColor: rgb(0,
0,
0);
$projectsPhotoLayerColor: rgba(32,
51,
114,
0.692);
$projectsLayerIconColor: rgb(242,
242,
255);
//footer
$footerFormBackgroundColor: rgba(255,
255,
255,
0);
$footerFormBorderColor: rgb(255,
255,
255);
$footerFormPlaceholderColor: rgb(255,
255,
255);
$footerFormButtonColor: rgba(255,
255,
255,
0);
$footerFormButtonBorderColor: rgb(255,
255,
255);
$footerFormContainerColor: rgba(32,
51,
114,
0);
$footerFormIconColor: rgb(255,
255,
255);
$footerBackgroundColor: rgba(32, 51, 114, 0.57);
$footerShadowColor: rgb(255,
255,
255);
$footerFontColor: rgb(255,
255,
255);
$footerBtnHoverColor: $colorOfNav;
$footerBtnBackgroundColor: rgba(255,
255,
255,
0);
$footerBtnHoverFontColor: rgb(255,
255,
255);
$footerDataColor: rgb(255,
255,
255);
$footerIconHoverColor: $colorOfNav;
$footerBoxShadow: 0 0 0.2px rgb(255,
255,
255);
$footerBoxShadowHover: 0 0 0.2px $footerBtnHoverColor;
// mixins
$titleFontColor: rgb(255,
255,
255);
@mixin titleOfSection($topValue) {
    background-color: $colorOfNav;
    color: $titleFontColor;
    display: inline-block;
    font-size: 2rem;
    padding: 2rem 30px;
    position: absolute;
    top: $topValue;
}

@mixin headerOfSection() {
    border-bottom: 3px solid $colorOfNav;
    display: inline-block;
    line-height: 3.5rem;
    margin: 0;
}

@mixin sections($topPadding,
$rightPadding,
$bottomPadding,
$leftPadding) {
    padding: $topPadding $rightPadding $bottomPadding $leftPadding;
    position: relative;
}
@mixin setNavbarAnimat($aniTime: 0.5s) {
    transition-duration: $aniTime;
}

#btnCircleUp-js {
    background-color: $buttonUpBackgroundColor;
    border-radius: 50%;
    border: none;
    bottom: 1rem;
    cursor: pointer;
    display: none;
    position: fixed;
    right: 1rem;
    z-index: 4;
    i {
        color: $buttonUpColor;
        font-size: 4rem;
        opacity: 0.7;
    }
}

header {
    background-image: url('../images/header_devstudio_large.jpg');
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
    position: relative;
    //responsive navbar
    .responsive-navbar {
        @include setNavbarAnimat();
        display: none;
        flex-wrap: wrap;
        padding: 1rem;
        position: fixed;
        width: 100%;
        z-index: 4;
        .hamburger-container {  
            display: flex;
            flex-direction: row-reverse;
            width: 60%;  
            .hamburger-icon {
                color: $colorOfNav;
                font-size: 1.8rem;
            }
            .hamburger-close {
                background-color: rgba(16, 31, 85, 0);
                border: none;
                display: none;
            }
            .hamburger {
                background-color: rgba(16, 31, 85, 0);
                border: none;
            }
        }
        .hamburger-menu {
            width: 100%;
            display: none;
            .hamburger-list {
                align-items: center; 
                display: flex;
                flex-direction: column;
                list-style-type: none;
                margin: 0; 
                padding: 0;
                li {
                    margin: 0.5rem;
                    a {
                        color: $colorFontNav;
                        font-size: $navFontSize;
                        text-decoration: none;
                    }
                }
            }
        }
        .responsive-logo-container {
            width: 40%;
            .responsive-navbar-logo {
                width: 65%;
                height: auto;
                cursor: pointer;
            }
        }
    }

    .navbar-container {
        @include setNavbarAnimat(0.3s);
        align-items: center;
        display: flex;
        height: auto;
        justify-content: space-between;
        position: fixed;
        top: 7.5rem;
        width: 100vw;
        z-index: 1;
        .nav-elem {
            @include setNavbarAnimat(0.3s);
            background-color: $colorOfNav;
            box-shadow: $navBoxShadow;
            height: $navSize;
            width: 10vw;
        }
        .logo-container {
            min-width: 22rem;
            position: relative;
            width: auto;
            @include setNavbarAnimat(0.5s);
            a {
                display: block;
                height: $navSize;
                position: absolute;
                top: calc(50% - 1.75rem);
                width: 100%;
                z-index: 1;
            }
            .big-logo {
                height: auto;
                width: 100%;
                position: absolute;
                top: -151px; 
            }
            .small-logo {
                position: absolute;
                width: 100%;
                height: auto;
                visibility: hidden;
                top: -100px;
            }
            .hidden {
                visibility: hidden;

            }
            .visible {
                visibility: visible;

            }
        }
        nav {
            background-color: $colorOfNav;
            box-shadow: $navBoxShadow;
            color: $colorFontNav;
            font-weight: $navFontWeight;
            height: $navSize;
            letter-spacing: 2.5px;
            width: 80vw;
            @include setNavbarAnimat(0.3s);
            ul {
                align-items: center;
                display: flex;
                height: auto;
                justify-content: center;
                list-style-type: none;
                margin: 0;
                padding: 0;
                .navbar-li {
                    line-height: $navSize;
                    margin-right: 8%;
                    a {
                        color: $colorFontNav;
                        font-size: $navFontSize;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.sect-about-me {
    @include sections(4rem, 0, 8rem, 0);
    .header-of-about-me {
        @include headerOfSection();
    }
    .title-about-me {
        @include titleOfSection(-4.5rem);
    }
    .paragraph {
        overflow: auto;
        line-height: 2;
        .photo-of-author {
            float: left;
            margin-right: 1.4rem;
            max-width: 100%;
            height: auto;
        }
    }
}

.sect-technologies {
    @include sections(4rem,
    0,
    8rem,
    0);
    background-color: $techBackgroundColor;
    .header-of-technologies {
        @include headerOfSection();
        margin-bottom: 3rem;
    }
    .technologies-background-area {
        background-image: url('../images/techsection_code.jpg');
        padding: 6rem;
        position: relative;
        z-index: 0;
    }
    .technologies-layer {
        background-color: $techColorLayer;
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
    }
    .title-technologies {
        @include titleOfSection(-4.5rem);
    }
    [class*="ech-"] {
        width: 7.5rem;
    }
    .line {
        align-items: flex-end;
        background-color: $techLineColor;
        display: flex;
        height: $techHeightLine;
        margin: 1.3rem 0 3rem 0;
        .square-arrow {
            background-color: $techLineColor;
            box-shadow: $techBoxShadow;
            height: 1.7rem;
            transform: matrix(0.99, 0.42, -0.99, 0.42, 0, 0.8);
            width: 1.7rem;
        }
        &::before {
            background-color: $techLineColor;
            box-shadow: $techBoxShadow;
            content: "";
            height: $techHeightLine;
            position: absolute;
            width: 100%;
        }
    }
}

.sect-projects {
    @include sections(4rem,
    0,
    8rem,
    0);
    .title-projects {
        @include titleOfSection(-4.5rem);
    }
    .header-of-projects {
        @include headerOfSection();
        margin-bottom: 3rem;
    }
    .header-used-technologies {
        margin: 0 0 0.5rem 0;
    }
    .resp-project-container {
        padding-top: 3rem;
        padding-bottom: 3rem;
        background-image: url("../images/dev_office1.jpg");
        position: relative;
        display: none;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        z-index: 0;
        .resp-project-layer {
            background-color: rgba(255, 255, 255, 0.521);
            position: absolute;
            right: 0;
            left: 0;
            bottom: 0;
            top: 0;
            z-index: -1
        }
        .resp-project-min {
            .resp-photo-cell {
                background-color: $projectsMainColor;
                box-shadow: 0px 0px 10px 0px $projectsMainColor;
                height: 11rem;
                padding: 1rem;
                transition-duration: 0.5s;
                width: 100%;
                margin-bottom: 1.5rem;
                [class*="rea-"] {
                    background-position: center;
                    background-size: cover;
                    height: 100%;
                    position: relative;
                    width: 100%;
                }
                .area-photo-1 {
                    background-image: url("../images/design_lab.jpg");
                }
                .area-photo-2 {
                    background-image: url("../images/picture_perfect.jpg");
                }
                .area-photo-3 {
                    background-image: url("../images/your_life.jpg");
                }
                .area-photo-4 {
                    background-image: url("../images/bootstrap_project.jpg");
                    background-position: top;
                }
                .resp-photo-layer {
                    background-color: $projectsPhotoLayerColor;
                    bottom: 0;
                    left: 0;
                    opacity: 0.3;
                    position: absolute;
                    right: 0;
                    top: 0;
                    transition-duration: 0.5s;
                }
                .resp-layer-icon {
                    color: $projectsLayerIconColor;
                    font-size: 1.5rem;
                    opacity: 0.8;
                    position: absolute;
                    top: calc(50% - 0.75rem);
                    transition-duration: 0.5s;
                }
                [class*="code"] {
                    left: 30vw;
                }
                [class*="sear"] {
                    right: 30vw;
                }
            }
        }
    }
    .project-container {
        display: flex;
        margin: 0 auto 0 0;
        background-image: url("../images/dev_office1.jpg");
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        .left-side {
            background-color: $projectsMainColor;
            box-shadow: 0px 0px 10px 0px $projectsMainColor;
            color: $projectsLeftSideFontColor;
            display: flex;
            padding: 5rem 0 5rem 6rem;
            width: 35%;
            .list-left-side {
                display: flex;
                flex-direction: column;
                .cell {
                    margin-bottom: 5rem;
                    padding: 2rem 1.5rem 2rem 2rem;
                    position: relative;
                    transition-duration: .5s;
                    .cell-paragraph {
                        min-height: 60px;
                    }
                    .cell-icon {
                        margin-right: 0.3em;
                    }
                    &:hover {
                        background-color: $projectsHoverColor;
                        box-shadow: 0px 0px 10px 0px $projectsHoverColor;
                        color: $projectsHoverFontColor;
                    }
                    &:hover .arrow {
                        background-color: $projectsHoverColor;
                        box-shadow: 0px 0px 10px 0px $projectsHoverColor;
                    }
                    &:hover .project-min .photo-cell {
                        background-color: $projectsHoverColor;
                        box-shadow: 0px 0px 10px 0px $projectsHoverColor;
                    }
                    &:hover .project-min [class*="rea-"] .photo-layer {
                        opacity: 1;
                    }
                    &:hover .project-min [class*="rea-"] .layer-icon {
                        opacity: 1;
                    }
                    .project-min {
                        position: absolute;
                        right: -63vw;
                        top: calc(50% - 9rem);
                        .photo-cell {
                            background-color: $projectsMainColor;
                            box-shadow: 0px 0px 10px 0px $projectsMainColor;
                            height: 18rem;
                            padding: 1rem;
                            transition-duration: 0.5s;
                            width: 58vw;
                            [class*="rea-"] {
                                background-position: center;
                                background-size: cover;
                                height: 100%;
                                position: relative;
                                width: 100%;
                            }
                            .area-photo-1 {
                                background-image: url("../images/design_lab.jpg");
                            }
                            .area-photo-2 {
                                background-image: url("../images/picture_perfect.jpg");
                            }
                            .area-photo-3 {
                                background-image: url("../images/your_life.jpg");
                            }
                            .area-photo-4 {
                                background-image: url("../images/bootstrap_project.jpg");
                                background-position: top;
                            }
                            .photo-layer {
                                background-color: $projectsPhotoLayerColor;
                                bottom: 0;
                                left: 0;
                                opacity: 0;
                                position: absolute;
                                right: 0;
                                top: 0;
                                transition-duration: 0.5s;
                            }
                            .layer-icon {
                                color: $projectsLayerIconColor;
                                font-size: 4rem;
                                opacity: 0;
                                position: absolute;
                                top: calc(50% - 2rem);
                                transition-duration: 0.5s;
                            }
                            [class*="code"] {
                                left: 20vw;
                            }
                            [class*="sear"] {
                                right: 20vw; 
                            }
                        }
                    }
                    .arrow {
                        background-color: $projectsMainColor;
                        box-shadow: 0px 0px 10px 0px $projectsMainColor;
                        height: 2rem;
                        position: absolute;
                        right: 0;
                        top: calc(50% - 1rem);
                        transform: matrix(0.71, 0.71, -0.71, 0.71, 16, 0);
                        transition-duration: .5s;
                        width: 2rem;
                    }
                    .header-of-cell-title {
                        border: 0;
                        margin: 0;
                        position: relative;
                    }
                    .right-arrow {
                        font-size: 1.5rem;
                        left: -1.3rem;
                        position: absolute;
                    }
                    .tech-used {
                        display: flex;
                        .cell-icon {
                            width: 2.5rem;
                        }
                    }
                }
            }
        }
        .right-side {
            background-color: rgba(255, 255, 255, 0.521);
            width: 100%;
        }
    }
}

#footer {
    @include sections(8rem,
    0,
    4rem,
    0);
    background-color: $footerBackgroundColor;
    .title-footer {
        @include titleOfSection(-2rem);
    }
    .footer-layer {
        background-image: url("../images/footer_cyclone.jpg");
        background-position: center;
        background-size: cover;
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
    }
    .flex-area {
        display: flex;
        justify-content: space-around;
        .data-container {
            display: flex;
            align-items: center;
            .contact-data {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                .my-name {
                    margin-bottom: 0.6rem;
                    font-size: 2em;
                    font-weight: 700;
                    color: $footerDataColor;
                }
                .telephone-number-link {
                    text-decoration: none; 
                    .telephone-number {
                        font-size: 1.3em;
                        margin-bottom: 0.6rem;
                        color: $footerDataColor;
                        transition-duration: .5s;
                        &:hover {
                            color: $footerIconHoverColor;
                        }
                    }
                }
                .icon-container {
                    .icon-link {
                        margin: 0 1rem;
                        .contact-icon {
                            color: $footerFormIconColor;
                            font-size: 2.5rem;
                            display: inline-block;
                            transition-duration: 0.5s;
                            &:hover {
                                color: $footerIconHoverColor;
                            }
                        }
                    }
                }
            }
        }
        .footer-form {
            background-color: $footerFormContainerColor;
            display: inline-block;
            width: 40%;
            form {
                .form-elem {
                    background-color: $footerFormBackgroundColor;
                    border: 3px solid $footerFormBorderColor;
                    box-shadow: $footerBoxShadow;
                    display: block;
                    margin-bottom: 0.5rem;
                    padding: 0.5rem;
                    width: 100%;
                    color: $footerFontColor;
                    transition-duration: 0.5s;
                    &:focus {
                        border: 3px solid $colorOfNav;
                        box-shadow: $footerBoxShadowHover;
                    }
                    &:hover {
                        border: 3px solid $colorOfNav;
                        box-shadow: $footerBoxShadowHover;
                    }
                }
                input::placeholder,
                textarea::placeholder {
                    color: $footerFormPlaceholderColor;
                    font-family: "Exo 2", sans-serif;
                }
                .form-btn {
                    background-color: $footerBtnBackgroundColor;
                    background-image: linear-gradient(45deg, $footerBtnHoverColor 50%, transparent 50%);
                    background-position: 100% 0;
                    background-size: 300%;
                    border: 3px solid $footerFormButtonBorderColor;
                    box-shadow: $footerBoxShadow;
                    color: $footerFormPlaceholderColor;
                    cursor: pointer;
                    display: block;
                    font-family: "Exo 2", sans-serif;
                    font-weight: 900;
                    letter-spacing: 0.1rem;
                    margin-left: auto;
                    padding: 0.8rem 1.5rem;
                    text-transform: uppercase;
                    transition-duration: 0.5s;
                    font-size: 0.9em;
                    &:hover {
                        background-position: 0 100%; 
                        border-color: $footerBtnHoverColor;
                        box-shadow: $footerBoxShadowHover;
                    }
                }
            }
        }
    }
}

.copyrights {
    display: flex;
    width: 100%;
    height: 7vh;
    align-items: center;
    justify-content: center;
    background-color: $colorOfNav;
    color: #ffffff;
}

/* ---------------- Media Queries ----------------- */
@media (max-width: 319.99px) {
    .container {
        padding: 0 1.25rem;
    }
    
    #btnCircleUp-js {
        i {
            font-size: 2rem;
        }
    }
    
    header {
        .responsive-navbar {
            display: flex;
            .hamburger-container {
                .hamburger-icon {
                    font-size: 1.3rem;
                }
            }
        }
        .navbar-container {
            display: none;
        }
    }

    .sect-about-me {
        @include sections(2rem, 0, 4rem, 0);
        .title-about-me {
            @include titleOfSection(-2.5rem);
            padding: 1rem 20px;
            font-size: 1.5rem;
        }
        .paragraph {
            .photo-of-author {
                margin-right: 0;
                margin-bottom: 1rem;
            }
        }
    }

    .sect-technologies {
        @include sections(2rem, 0, 4rem, 0);
        .title-technologies {
            @include titleOfSection(-2.5rem);
            padding: 1rem 20px;
            font-size: 1.5rem;
        }
        .technologies-background-area {
            padding: 2rem;
        }
        .line {
            margin: 1.3rem 0 1rem 0;
            height: 0.4rem;
            &::before {
                height: 0.4rem;
            }
            .square-arrow {
                width: 0.9rem;
                height: 0.9rem;
            }
        }
        .media-padding {
            padding: 0;
        }
        [class*="ech-"] {
            width: 20%;
        }
    }

    .sect-projects {
        @include sections(2rem, 0, 4rem, 0);
        .title-projects {
            @include titleOfSection(-2.5rem);
            padding: 1rem 20px;
            font-size: 1.5rem;
        }
        .header-of-projects {
            @include headerOfSection();
            margin-bottom: 3rem;
        }
        .header-used-technologies {
            margin: 0 0 0.5rem 0;
        }
        .project-container {
            display: none;
        }
        .resp-project-container {
            display: block;
            padding-top: 1.7rem;
            padding-bottom: 1.7rem;
            .resp-project-min {
                .resp-photo-cell {
                    height: 6rem;
                    padding: 0.5rem;
                    [class*="code"] {
                        left: 15vw;
                    }
                    [class*="sear"] {
                        right: 15vw;
                    }
                }
            }
        }
    }

    #footer {
        @include sections(4rem, 0, 2rem, 0);
        .title-footer {
            @include titleOfSection(-1.2rem);
            padding: 1rem 20px;
            font-size: 1.5rem;
        }
        .flex-area {
            flex-wrap: wrap;
            .footer-form {
                width: 100%;
                form {
                    .form-btn {
                        font-size: 0.8rem;
                    }
                }
            }
            .data-container {
                margin-top: 2rem;
            }
            .my-name {
                text-align: center;
            }
        }
    }
}

// Extra small devices (portrait phones, less than 576px)
@media (min-width: 320px) and (max-width: 575.98px) {
    .container {
        padding: 0 1.25rem;
    }
    
    #btnCircleUp-js {
        i {
            font-size: 3rem;
        }
    }
    
    header {
        .responsive-navbar {
            display: flex;
        }
        .navbar-container {
            display: none;
        }
    }

    .sect-about-me {
        .title-about-me {
            @include titleOfSection(-3.5rem);
            padding: 1.5rem 30px;
        }
        .paragraph {
            .photo-of-author {
                margin-bottom: 1rem;
            }
        }
    }

    .sect-technologies {
        .title-technologies {
            @include titleOfSection(-3.5rem);
            padding: 1.5rem 30px;
        }
        .technologies-background-area {
            padding: 2rem;
        }
        .line {
            margin: 1.3rem 0 1rem 0;
            height: 0.4rem;
            .square-arrow {
                width: 0.9rem;
                height: 0.9rem;
            }
            &::before {
                height: 0.4rem;
            }
        }
        .media-padding {
            padding: 0;
        }
        [class*="ech-"] {
            width: 20%;
        }
    }

    .sect-projects {
        @include sections(4rem,
        0,
        8rem,
        0);
        .title-projects {
            @include titleOfSection(-3.5rem);
            padding: 1.5rem 30px;
        }
        .header-of-projects {
            @include headerOfSection();
            margin-bottom: 3rem;
        }
        .header-used-technologies {
            margin: 0 0 0.5rem 0;
        }
        .project-container {
            display: none;
        }
        
        .resp-project-container {
            display: block;
            .resp-project-min {
                .resp-photo-cell {
                    padding: 0.5rem;
                    height: 7rem;
                    [class*="code"] {
                        left: 23vw;
                    }
                    [class*="sear"] {
                        right: 23vw;
                    }
                }
            }
        }
    }

    #footer {
        @include sections(4rem, 0, 2rem, 0);
        .title-footer {
            @include titleOfSection(-1.2rem);
            padding: 1rem 20px;
            font-size: 1.5rem;
        }
        .flex-area {
            flex-wrap: wrap;
            .footer-form {
                width: 100%;
                form {
                    .form-btn {
                        font-size: 0.8rem;
                    }
                }
            }
            .data-container {
                margin-top: 2rem;
            }
            .my-name {
                text-align: center;
            }
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    #btnCircleUp-js {
        i {
            font-size: 3rem;
        }
    }
    
    header {
        .responsive-navbar {
            display: flex;
        }
        .navbar-container {
            display: none;
        }
    }

    .sect-about-me {
        .title-about-me {
            @include titleOfSection(-3.5rem);
            padding: 1.5rem 30px;
        }
    }

    .sect-technologies {
        .title-technologies {
            @include titleOfSection(-3.5rem);
            padding: 1.5rem 30px;
        }
        .technologies-background-area {
            padding: 2rem;
        }
        .line {
            margin: 1.3rem 0 1rem 0;
            height: 0.4rem;
            .square-arrow {
                width: 0.9rem;
                height: 0.9rem;
            }
            &::before {
                height: 0.4rem;
            }
        }
        .media-padding {
            padding: 0;
        }
        [class*="ech-"] {
            width: 20%;
        }
    }
    
    .sect-projects {
        @include sections(4rem,
        0,
        8rem,
        0);
        .title-projects {
            @include titleOfSection(-3.5rem);
            padding: 1.5rem 30px;
        }
        .header-of-projects {
            @include headerOfSection();
            margin-bottom: 3rem;
        }
        .header-used-technologies {
            margin: 0 0 0.5rem 0;
        }
        .project-container {
            display: none;
        }
        
        .resp-project-container {
            display: block;
            .resp-project-min {
                .resp-photo-cell {
                    padding: 0.5rem;
                }
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    #btnCircleUp-js {
        i {
            font-size: 3rem;
        }
    }
    
    header {
        .responsive-navbar {
            display: flex;
        }
        .navbar-container {
            display: none;
        }
    }

    .sect-about-me {
        .title-about-me {
            @include titleOfSection(-3.5rem);
            padding: 1.5rem 30px;
        }
    }

    .sect-projects {
        @include sections(4rem,
        0,
        8rem,
        0);
        .title-projects {
            @include titleOfSection(-3.5rem);
            padding: 1.5rem 30px;
        }
        .header-of-projects {
            @include headerOfSection();
            margin-bottom: 3rem;
        }
        .header-used-technologies {
            margin: 0 0 0.5rem 0;
        }
        .project-container {
            display: none;
        }
        
        .resp-project-container {
            display: block;
            .resp-project-min {
                .resp-photo-cell {
                    padding: 0.5rem; 
                }
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
    .sect-projects {
        @include sections(4rem, 
        0,
        8rem,
        0);
        .title-projects {
            @include titleOfSection(-4.5rem);
        }
        .header-of-projects {
            @include headerOfSection();
            margin-bottom: 3rem;
        }
        .header-used-technologies {
            margin: 0 0 0.5rem 0;
        }
           
        .project-container {
            .left-side {
                padding: 5rem 0 5rem 2rem;
                .list-left-side {
                    display: flex;
                    flex-direction: column;
                    .cell {
                        padding: 1.3rem; 
                        .cell-paragraph {
                            min-height: 60px;
                        }
                        .cell-icon {
                            margin-right: 0.3em;
                        }
                        .project-min {
                            right: -63vw;
                            top: calc(50% - 8rem);
                            .photo-cell {
                                height: 16rem;
                                width: 58vw;
                                [class*="code"] {
                                    left: 17vw;
                                }
                                [class*="sear"] {
                                    right: 17vw; 
                                }
                            }
                        }
                        .right-arrow {
                            left: -1rem;
                        }
                    }
                }
            }
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}