@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800,900');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    position: relative;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-around;
}

//          SASS
//navbar
$colorOfNav: rgba(32,
51,
114,
1);
$navBoxShadow: 0px 0px 10px 0px rgb(32,
51,
114);
$navSize: 3.5rem;
$navFontSize: 1rem;
$navFontWeight: 700;
// technologies 
$techHeightLine: 0.9rem;
$techLineColor: rgb(255,
255,
255);
$techBoxShadow: 0px 0px 10px 0px $techLineColor;
// mixins
@mixin titleOfSection() {
    background-color: $colorOfNav;
    display: inline-block;
    padding: 3rem 30px;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    position: absolute;
    top: -6rem;
}

@mixin headerOfSection() {
    border-bottom: 3px solid $colorOfNav;
    line-height: 3.5rem;
    display: inline-block;
    margin: 0;
}

@mixin sections() {
    position: relative;
    padding: 4rem 0 8rem 0;
}

header {
    background-image: url('../images/header_devstudio_med.jpeg');
    height: 80vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    .navbar-container {
        display: flex;
        justify-content: space-between;
        height: auto;
        position: fixed;
        width: 100vw;
        align-items: center;
        z-index: 1;
        .nav-elem {
            height: $navSize;
            background-color: $colorOfNav;
            width: 10vw;
            box-shadow: $navBoxShadow;
        }
        .logo-container {
            width: auto;
            position: relative;
            a {
                display: block;
                width: 100%;
                height: $navSize;
                position: absolute;
                top: calc(50% - 1.75rem);
            }
            img {
                width: 100%;
                height: auto;
            }
        }
        nav {
            height: $navSize;
            font-family: "Moontserrat", sans-serif;
            font-weight: $navFontWeight;
            letter-spacing: 2.5px;
            width: 80vw;
            color: #fff;
            background-color: $colorOfNav;
            box-shadow: $navBoxShadow;
            ul {
                display: flex;
                justify-content: center;
                align-items: center;
                list-style-type: none;
                height: auto;
                text-transform: uppercase;
                margin: 0;
                padding: 0;
                li {
                    margin-right: 60px;
                    line-height: $navSize;
                    a {
                        text-decoration: none;
                        color: rgb(255, 255, 255);
                        font-size: $navFontSize;
                    }
                }
            }
        }
    }
}

.sect-about-me {
    @include sections();
    h3 {
        @include headerOfSection();
    }
    .title-about-me {
        @include titleOfSection();
    }
}

.sect-Technologies {
    @include sections();
    background-color: rgb(236, 236, 236);
    h3 {
        @include headerOfSection();
        margin-bottom: 3rem;
    }
    .technologies-background-area {
        background-image: url('../images/techsection_code.jpg');
        padding: 6rem;
        position: relative;
        z-index: 0;
    }
    .technologies-layer {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(32, 51, 114, 0.692);
        z-index: -1;
    }
    .title-technologies {
        @include titleOfSection();
    }
    [class*="ech-"] {
        width: 9rem;
    }
    .line {
        background-color: $techLineColor;
        height: $techHeightLine;
        margin: 1.3rem 0 3rem 0;
        display: flex;
        align-items: flex-end;
        .square-arrow {
            height: 1.7rem;
            width: 1.7rem;
            background-color: $techLineColor;
            transform: matrix(0.99, 0.42, -0.99, 0.42, 0, 0.8);
            box-shadow: $techBoxShadow;
        }
        &::before {
            content: "";
            background-color: $techLineColor;
            height: $techHeightLine;
            width: 100%;
            position: absolute;
            box-shadow: $techBoxShadow;
        }
    }
}